// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
.card-category {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.banner{
    width: 100vw;
    height: 70vh;
  //   background-image: asset_path('Jiangnan_Photography.jpeg');
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
  p{
    font-size: 30px;
    color: black;
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
}
.lists{
  padding: 20px 50px;
  width: 100vw;
  ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
  }
}
.list {
  list-style: none;
  width: 150px;
  height: 150px;
  margin-right: 20px;
  background-size: cover;
  background-position: center;
  position: relative;
    a{
    position: absolute;
    top: 35%;
    left: 20%;
    color: rgb(254, 254, 255);
    }
}
